body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
    background-color: rgb(134, 165, 170);
}

button {
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(236, 190, 190);
}

.quiz-container button {
    justify-content: center;
    display: flex block;
    margin: 10px;
}